.avatar img {
	max-width: 160px;
	width: 100%;
	margin: 0 auto;
}
.try {
	margin-right: 10%;
}
#text {
	font-family: 'Roboto Slab', serif;
}
.samp,
.custom-font {
	font-family: 'Fira Sans', sans-serif;
}
